.main {
  padding: 6rem;
  min-height: 100vh;
  background-color: white;
}
.checkerBoardHtml{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
}
.blackSquare{
  width: 70px;
  height: 70px;
  background-color: rgb(86, 47, 0);
}
.whiteSquare{
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 248, 206);
}
.checkerboard{
  border: 5px black solid;
  border-collapse: collapse;
}

.piece1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 3px rgba(128, 128, 128, 0.3) dashed;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piece2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: 3px rgba(128, 128, 128, 0.5) dashed;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ghostPiece{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  margin: auto;
}
.highlight{
  background-color: yellow;
}
.selected{
  background-color: blue;
}
.crown{
  width: 20px;
  height: 20px;
  background-color: goldenrod;
}
.resetButton{
  padding: 5px;
  justify-self: center;
  margin: 10px;
  background-color: red;
  color: white;
  box-shadow: 0 0 5px lightcoral;
  font-size: 24px;
  font-weight: bold;
}
.resetButton:hover{
  filter: brightness(95%);
}
.resetButton:active{
  filter: brightness(105%);
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 48px;
  text-shadow: 2px 2px 5px lightcoral;
  color:darkred;
  margin-bottom: 15px;
}